 html,body,div{
  padding: 0;
  margin:0;
  1font-size: 0;
}
.b-container__header{
}
.body-item12{
  margin-top: 56px;
}
.b-container__body{

}
.b-container__footer{
  background: #ccc;
}
.b-body__center{
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.b-center{
  width: 100%;
}
.angular-google-map-container { height: 400px; }

div.navbar-collapse.collapse {
  display: block;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 1.3s ease;
  -moz-transition: max-height 1.3s ease;
  -o-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
}
.shadow{
  box-shadow: 0 0 19px 0 #111;

}

div.navbar-collapse.collapse.in {
  max-height: 2000px;

}
.navbar-correct{
  margin: 0 auto 0 auto;
  position: fixed;
  z-index: 5;
  width: 100%;

}
.center{
  height: 100px;
}
.well, .navbar{
  border-radius: 0;

}
.fade.in{
  display: block;
}
.modal-content{
  border-radius: 0;

}
.dropdown:hover ul{
  display: block;
}
.btn{
  border-radius: 0;
}


